<div class="row mt-6">
  <div class="col-6 m-auto">
    <div class="card text-center mt-3">
      <h1 class="card-header">Hello there</h1>
      <div class="card-body">
        <img src="../img/nodejs.png" alt="" class="card-img-top w-25 h-25">
        <a href="index/login" class="btn btn-success btn-block mb-5">Login</a>
        <a href="index/register" class="btn btn-primary btn-block">Register</a>
      </div>
      <div class="footer">
        <p class="text-muted">Here is a practice for node.js</p>
      </div>
    </div>
  </div>
</div>